# Repo-Level Owners (in alphabetical order)
# Note: This is only for the notaryproject/notation repo
* @gokarnm @JeyJeyGao @justincormack @niazfk @patrickzheng200 @priteshbandi @rgnote @shizhMSFT @stevelasker
