# Repo-Level Owners (in alphabetical order)
# Note: This is only for the notaryproject/notation repo
* @gokarnm @JeyJeyGao @justincormack @niazfk @priteshbandi @rgnote @shizhMSFT @stevelasker @toddysm @Two-Hearts
