name: build

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    name: Continuous Integration
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.20']
      fail-fast: true
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code
        uses: actions/checkout@v3
      - name: Cache Go modules
        uses: actions/cache@v3
        id: go-mod-cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        run: make download
      - name: Build
        run: make build
      - name: Run unit tests
        run: make test
      - name: Run e2e tests
        run:  |
          if [[ $GITHUB_REF_NAME == v* && $GITHUB_REF_TYPE == tag ]]; then
            make e2e
          else
            make e2e-covdata
          fi
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v3
