name: release-github

on:
  push:
    tags:
      - v*

jobs:
  build:
    name: Release Notation Binaries
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go-version: [1.19]
      fail-fast: true
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set GoReleaser Previous Tag To Be Last Non Weekly Release
        run: |
          pre_tag=`git tag --sort=-creatordate --list 'v*' | grep -v dev | head -2 | tail -1`
          echo "GORELEASER_PREVIOUS_TAG=$pre_tag" >> $GITHUB_ENV
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
